beautifulsoup4==4.11.1
behave==1.2.6
certifi==2022.6.15
docker
pytest==7.2.0
PyYAML
regex==2022.6.2
requests
selenium==3.141.0
unittest-xml-reporting==3.0.2
urllib3==1.26.18
virtualenv==20.14.1
webdriver-manager==4.0.0